name: 04 - Using Actions

on: 
    workflow_dispatch

jobs:
    build:
        runs-on: ubuntu-latest
        defaults:
            run:
                working-directory: 04-using-actions/react-app # Aqui se define el directorio de trabajo para todos los pasos del job, por lo que no es necesario indicarlo en cada paso
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            - name: Set up Node
              uses: actions/setup-node@v4
              with:
                node-version: '20.x'

                # En estos siguientes dos pasos el woking-directory se establece en el bloque defaults, por lo que no es necesario indicarlo en cada paso
            - name: Install dependencies
              run: npm ci
            - name: Run Unit Tests
              run: npm run test


# Estos son los pasos que se tendrian que ejecutar para construir nuestra aplicación con el workflow
# 0. Checkout del código desde el repositorio
# 1. Instalación de dependencias de nuestra aplicación de React
# Ejecutar las pruebas automatizadas de nuestra aplicación